# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build
build/
dist/
*.spec

# VSCode and AI
.codex/
.vscode/

# Environments
.venv/

# Personal Config
config.ini
auto-exe-to-py.json
*copy*
